table.scroll{width:990px;border-spacing:0;border:2px solid black;}
table.scroll tbody,
table.scroll thead{display:block;}
thead tr th{height:30px;line-height:30px;}
table.scroll tbody{height:300px;overflow-y:auto;overflow-x:hidden;}
tbody{border-top:2px solid black;}
tbody td, thead th{border-right:1px solid black;}
tbody td:last-child, thead th:last-child{border-right:none;}
th{background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));background:-moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");background:-o-linear-gradient(top,#005fbf,003f7f);color:#ffffff;}
tr:nth-child(odd){background-color:#FFFFFF;}
tr:nth-child(even){background-color:#E3E3E3;}
tr:hover{background-color:#FF7200;}
.alnright{text-align:right;}
.alnleft{text-align:left;}