html, body, div, p, li, ul, ol, form, fieldset, h1, h2, h3, h4, h5, h6{margin:0;padding:0;list-style:none;}
body{font:normal 62.8%/1.3 Arial, Helvetica, sans-serif;background:#000 url('../images/pozadi2.jpg');color:#3e3533;padding:30px 0;}
a{color:#0D5D7A;}
a:hover{text-decoration:underline !important;color:#000;}
h1{font-size:2em;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5{font-size:1.1em;}
h6{font-size:1em;}
p{line-height:20px;}
h1, h2, h3, h4, h5, h6{color:#3e3533;}
blockquote{margin:0;padding:10px 20px;color:#333;line-height:1.6;font-family:Georgia, serif;}
fieldset{border:0 !important;}
#view{width:900px;margin:0 auto;}
#head{font-size:1.2em;height:202px;position:relative;}
#content{font-size:1.2em;}
#foot{font-size:1.2em;clear:both;}
#logo *{color:#C7F2EF;text-decoration:none !important;}
#logo h1{font-family:Georgia, "New York CE", utopia, serif;font-size:3em;font-weight:normal;margin-top:40px;}
#logo h2{font-weight:normal;font-size:1.2em;}
#logo .block{position:absolute;top:0;left:0;display:block;width:100%;height:100%;text-decoration:none;}
.fr{float:right !important;}
.fl{float:left !important;}
.clear{clear:both !important;}
.right{text-align:right !important;}
.left{text-align:left !important;}
.center{text-align:center !important;}
.last{margin-right:0 !important;margin-bottom:0 !important;border-bottom:none !important;}
.small{font-size:.90em;}
.big{font-size:1.5em;}
.item{margin-bottom:1.5em;border-bottom:1px #d8d8d8 solid;clear:both;}
#logo{position:relative;padding:0 50px;height:149px;overflow:hidden;background:url('../images/bg-logo.gif') 0 0 no-repeat;}
#mainMenu{height:46px;padding:0 25px;background:#312b2a url('../images/bg-main-menu.gif') repeat-x;border:1px #8a817e solid;border-width:1px 0 6px;}
#content{padding:10px;height:500px;background:#FFFFFF}
#foot{height:68px;background:#332B29}
#mainMenu ul{position:relative;height:46px;}
#mainMenu li{position:relative;float:left;padding-right:7px;}
#mainMenu li a{display:block;float:left;color:#b59d97;height:30px;padding:16px 15px 0 20px;}
#mainMenu li a span{position:absolute;left:8px;top:20px;width:6px;height:8px !important;overflow:hidden;}
#mainMenu li.active{position:relative;top:7px;}
#mainMenu li.active a{padding-top:9px;text-decoration:none !important;color:#000 !important;background:#fff url('../images/bg-main-menu_active.gif') repeat-x;border-bottom:6px #fff solid;}
#mainMenu li.active a span{top:12px;background-position:0 -8px;}
#mainMenu li a:hover{color:#fff;}
#foot p{padding:15px 20px 0;}
#foot *{color:#8a817e;}
#foot a:hover{color:#fff;}